html,
body,
#root {
  /* height: 90%; */
  /* width: 95%; */
  /* margin: 5px 2rem; */
  font-family: Myanmar MN;
  --main-bg-color: #b43509;
  --success-color: #729263;
  --header-font-size: 3.5rem;
  --page-title-font-size: 3rem;
  box-sizing: border-box;
}
/*
label,
h3 {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: large;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
  font-size: larger;
} */

/* Common */
.indented {
  padding: 0 2rem;
}

.page-title {
  background-color: var(--main-bg-color);
  padding: 4rem 2rem 0.5rem 2rem;
  font-size: var(--page-title-font-size);
  color: white;
}

/* Navbar */
#navbar {
  width: 100vw;
  z-index: 3;
}
nav a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: white;
}

/* Landing Page */
.landing-page img {
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

div#heading {
  width: 500px;

  top: 35%;
}
#heading h1 {
  font-size: var(--header-font-size);
  color: rgb(227, 227, 227);
  margin-bottom: 6%;
}

/* Auth Pages */
img[alt='gift'] {
  z-index: -1;
}
#auth-form form {
  top: 30%;
  left: 40%;
  padding: 2rem;
  border-radius: 20px;
}
#auth-form form div {
  margin: 1rem 0;
}
#auth-form input {
  width: 15rem;
  background-color: #efefef;
}

/* Dashboard */

section.lists-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* justify-content: center; */
  align-items: center;
}

.chosen {
  border: 2px solid #766071;
}

div.list-card {
  width: 60%;

  padding: 1rem;
  box-shadow: 0 4px 8px 0 #00000033;
  transition: 0.3s;
  border-left-style: solid;
  border-left-width: 0.5rem;
  border-left-color: rgb(116, 165, 208);
  border-radius: 5px;

}

.list-card:hover {
  box-shadow: 0 8px 16px 0 rgb(116, 165, 208);
}

.date-tag {
  margin: 0 1rem;
  padding: 0.1rem 0.5rem;
  font-size: smaller;
  background-color: #96837c;
  color: white;
  border: 1px solid #96837c;
  border-radius: 40px
}

.buttons-group {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.buttons-group button {
  margin: 0 0.2rem;
  padding: 0 0.5rem;
  color: white;
  border-radius: 10px;
}

/* .single-item */
.delete-button {
  padding: 0 0.3rem;
  display: none;
  text-decoration:;
}

.single-item:hover .delete-button {
  display: inline-block;
}

.delete-icon {
  font-size: 1rem;
  color: var(--main-bg-color);
}
