html,
body,
#root {
  height: 90%;
  width: 95%;
  margin: 0;
  --main-bg-color: #B43509;
}
/*
label,
h3 {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: large;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
  font-size: larger;
} */

/* .single-item */
.delete-button {
  padding: 0 0.3rem;
  display: none;
}

.single-item:hover .delete-button  {
  display: inline-block;
}

.delete-icon {
  font-size: 1rem;
  color: var(--main-bg-color)
}
