html,
body,
#root {
  /* height: 90%; */
  /* width: 95%; */
  /* margin: 5px 2rem; */
  font-family: Myanmar MN;
  --main-bg-color: #B43509;
  --header-font-size: 3.5rem;
}
/*
label,
h3 {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: large;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
  font-size: larger;
} */

/* Navbar */
#navbar {

}
nav a {
  margin: 0 5px;
  text-decoration: none;
  color: white;
}

/* Landing Page */
.landing-page img {
  z-index: -1;
}
div#heading {
  width: 35vw;
  position: absolute;
  top: 35%;
}
#heading h1 {
  font-size: var(--header-font-size);
  color: rgb(227, 227, 227);
  margin-bottom: 6%;


}

/* Auth Pages */
img[alt='gift'] {
  z-index: -1;
}
#auth-form form {
  position: absolute;
  top: 30%;
  left: 40%;
  padding: 2rem;
  border-radius: 20px;
}
#auth-form form div {
  margin: 1rem 0;
}
#auth-form input {
  width: 15rem;
  background-color: #efefef;
}


/* .single-item */
.delete-button {
  padding: 0 0.3rem;
  display: none;
}

.single-item:hover .delete-button  {
  display: inline-block;
}

.delete-icon {
  font-size: 1rem;
  color: var(--main-bg-color)
}
